/* app css stylesheet */

body {
  padding-top: 20px;
}

/**
 * Content stucc
 */

.widget-detail textarea {
	position: relative;
	width: 100%;
	height: 400px;
	clear: both;
	float: none;
}

.sidebar-logo {
  width: 100%;
}

.gist-success {
  margin-top: 20px;
}

#code-output {
  margin-top: 20px;
}


/**
 * Clearfix
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * Angular Stuff
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**
 * Animation
 */

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}

#loading-bar-spinner .spinner-icon {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.view-animate {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.view-animate.ng-enter {
  -webkit-animation: fadeIn 750ms;
  -moz-animation: fadeIn 750ms;
  -ms-animation: fadeIn 750ms;
  animation: fadeIn 750ms;
}
.view-animate.ng-leave {
  -webkit-animation: fadeOut 750ms;
  -moz-animation: fadeOut 750ms;
  -ms-animation: fadeOut 750ms;
  animation: fadeOut 750ms;
}

.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
