/* app css stylesheet */

body {
  padding-top: 20px;
}

/**
 * Content stuff
 */

.widget-detail textarea {
	position: relative;
	width: 100%;
	height: 400px;
	clear: both;
	float: none;
}

.sidebar-logo {
  width: 100%;
}

.gist-success {
  margin-top: 20px;
}

#code-output {
  margin-top: 20px;
}


/**
 * Clearfix
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * Angular Stuff
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/**
 * Animation
 */

body #loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
}

body #loading-bar-spinner .spinner-icon {
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

.view-animate {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.view-animate.ng-enter {
  -webkit-animation: fadeIn 750ms;
  -moz-animation: fadeIn 750ms;
  -ms-animation: fadeIn 750ms;
  animation: fadeIn 750ms;
}
.view-animate.ng-leave {
  -webkit-animation: fadeOut 750ms;
  -moz-animation: fadeOut 750ms;
  -ms-animation: fadeOut 750ms;
  animation: fadeOut 750ms;
}

.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

/**
 * Login stuff
 */

.btn 
{
 outline:0;
 border:none;
 border-top:none;
 border-bottom:none;
 border-left:none;
 border-right:none;
 box-shadow:inset 2px -3px rgba(0,0,0,0.15);
}
.btn:focus
{
 outline:0;
 -webkit-outline:0;
 -moz-outline:0;
}
.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
  background-repeat:repeat;
}
.form-signin {
  position: relative;
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
  text-align: center;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(0,0,0);
  border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
