<div class="container-fluid" ng-cloak>
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->

			<!-- logo -->
			<img src="img/logo-200x62.png" class="sidebar-logo" />

			<hr>

			<!-- search bar -->
			<form role="form">
				<div class="form-group">
					<label>Search for instance name</label>
					<input ng-model="query" type="search" class="form-control" placeholder="e.g., Homepage widget">
				</div>
			</form>

			<hr>

			<a href="#/home">Back to auth</a>

		</div>
		<div class="col-md-10">
			<!--Body content-->
			<div class="row widgets">

				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading">
							<h4>Widget Instances</h2>
						</div>

						<!-- Table -->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Instance ID</th>
									<th>Instance Name</th>
									<th>Instance Type</th>
									<th>Instance Mode</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
						
							<tr ng-repeat="widget in widgets | filter:query | orderBy:'name'">
								<td>{{widget.id}}</td>
								<td><strong>{{widget.name}}</strong></td>
								<td>
									<span ng-show="widget.type == 'by_gallery'">Stream specific widget</span>
									<span ng-show="widget.type == 'by_category'">Category widget</span>
									<span ng-show="widget.type == 'by_tag'">PDP widget</span>
									<span ng-show="widget.type == 'by_tag_category'">CDP widget</span>
									<span ng-show="widget.type == 'best_photos'">All Photos</span>

								</td>
								<td>{{widget.settings.mode}}</td>
								<td>
									<a href="#/widgets/{{widget.id}}" class="btn btn-primary" role="button">Get code + instructions</a>
								</td>

							</tr>
						</table>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>