<div class="container widget-detail">

	<a href="#/widgets">Back to instance list</a>

	<hr>

	<h2>Details for: {{widgetSetting.name}}</h2>
	<div class="row">
		<div class="col-md-8">
			<dt>Instance ID</dt>
				<dd>{{widgetSetting.id}}</dd>
			<dt>Instance Mode</dt>
				<dd>{{widgetSetting.settings.mode}}</dd>
			<dt>Instance Sorting</dt>
				<dd>{{widgetSetting.settings.sorting}}</dd>
			<dt>Instance Source</dt>
				<dd>{{widgetSetting.type}}</dd>
		</div>
		<div class="col-md-4">
			<dt>Widget Style Name</dt>
				<dd>{{widgetSetting.name}}</dd>
			<dt>Widget Style</dt>
				<dd>{{widgetSetting.type}}</dd>
		</div>
	</div>

	<hr>

	<button type="button" class="btn btn-primary" ng-click="createGist()">Create gist</button>

	<button type="button" class="btn btn-default" slide-toggle="#code-output">Toggle Code Output</button>

	<div id="code-output" class="slideable" easing="easing" duration="500ms">
		<pre class="code-output"><p>{{generatedCode}}</p></pre>
	</div>

	<div ng-show="gistStatus == 'success'" class="alert alert-success gist-success" role="alert">
		<span class="label label-success"><i class="fa fa-check"></i> Success!</span> You can access the generated guide here: <a href="{{gistLink}}" target="_blank">{{gistLink}}</a>
	</div>

	<hr>

	<h2>Widget Preview</h2>

	<div class="widget-preview">
		<div class="olapic-container" olapic-widget instance="{{widgetSetting.id}}" target="olapicWidget" mode="development"></div>
	</div>
</div>