<div class="container-fluid" ng-cloak>
	<div class="row">
		<div class="col-md-2">
			<!--Sidebar content-->
			Search: <input ng-model="query">
			<hr>
			Sort by:
			<select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>

		</div>
		<div class="col-md-10">
			<!--Body content-->
			<div class="row widgets">

				<div class="col-md-3" ng-repeat="widget in widgets | filter:query | orderBy:orderProp">

					<div class="thumbnail">
						<div class="img_{{widget.type}}"></div>
						<div class="caption">
							<h3>{{widget.name}}</h3>

							<span ><strong>Type:</strong></span> <span ng-show="widget.type == 'best_photos'">All photos widget</span>
							<span ng-show="widget.type == 'by_gallery'">Stream specific widget</span>
							<span ng-show="widget.type == 'by_category'">Category widget</span>
							<span ng-show="widget.type == 'by_tag'">PDP widget</span>
							<span ng-show="widget.type == 'by_tag_category'">CDP widget</span>

							<br><br>

							<p><a href="#/widgets/{{widget.id}}" class="btn btn-primary" role="button">Get code + instructions</a></p>
						</div>
					</div>

				</div>
			
			</div>
		</div>
	</div>
</div>